/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  
#home_main_div{
  width: 100%;
  height: 90vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 2;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tripsavvy.com%2Fthmb%2Fo2hgYE3EovWkMUvwiwXOAOLnKVs%3D%2F1500x0%2Ffilters%3Ano_upscale()%3Amax_bytes(150000)%3Astrip_icc()%2Fcityscape-from-pier-66-in-downtown-seattle--washington-state--usa-717164411-59e2464f685fbe00114080f5.jpg&f=1&nofb=1&ipt=c9c6d5f25bffa7ef6f4df57d005418f0a23028fca8bddc08e21723610da44249&ipo=images')
}
#home_main_div h1 {
  margin-top: 100px;
}
#intro {
  font-size: 25px;
  width: 80%;
  color: white;
  display: flex;
  flex-direction:column;
  margin-left: 10%
}
#social {
  width: 40px;
  display: flex;
  flex-direction:column;
  margin-top: 70%;
}
#team {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 10%
  width: 70vw;
  justify-content: space-around;
}
.team_meber {
  border: 3px solid gray;
  display: flex;
  border-radius: 26px;
  text-align: center;
  margin: 10%;
  padding: 30px;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}
#about {
  font-size: 25px;
  width: 90%;
  color: white;
  display: flex;
  flex-direction:row;
  margin-left: 10%
  justify-content: space-between;
  gap: 60px;
}
#c_form {
  display: flex;
  flex-direction: column;
}
